<table>
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "% Completed", :sort => "percentage" %></th>
      <th><%= link_to "Time left", :sort => "time_left" %></th>
      <th><%= link_to "Ending in", :sort => "ending_in" %></th>
    </tr>
  </thead>
  
  <tbody>
	<% @tasks.each do |task| %>
		<tr>

			<td class="table-name table-name-<%= task.id %>"> <strong><%= link_to task.name, task %></strong> </td>
			<td class="table-percent table-percent-<%= task.id %>"> 

				<div class="percent-bar percent-bar-<%= task.id %>"></div>
				<p class="percent-text percent-text-<%= task.id %>">
					<b><%= task_percentage(task) %>%</b>
				</p>
			
			</td>
			<td class="table-completed table-completed-<%= task.id %>"> <%= task.completed %> / <%= task.goal %> Hours</td>
			<td class="table-timeleft table-timeleft-<%= task.id %>"> <%= time_left(task) %> </td>

		</tr>
	<% end %>

  </tbody>
  
</table>